<h1>Editing Paquetes Plan To Fecha</h1>

<%= render 'form', paquetes_plan_to_fecha: @paquetes_plan_to_fecha %>

<%= link_to 'Mostrar', @paquetes_plan_to_fecha %> |
<%= link_to 'Atras', paquetes_plan_to_fechas_path %>
