<!DOCTYPE html>
<html>
<head>
	<title></title>
	
</head>

<script type="text/javascript">
	$(document).ready(function() {
			load();
			$( "#agregar" ).click(function() {	
				var Items = document.getElementById("txt_procedimientos").value
				//alert(document.getElementById("glista").value);
				//alert('Blanco'+Items.trim());
				var nombre_paquete = document.getElementById("txt_paquetes").value
				var nombre_proceso = document.getElementById("txt_procesos").value
				var nombre_procedimiento = document.getElementById("txt_procedimientos").value
				crear_paquete_to_procedimiento(nombre_paquete, nombre_proceso, nombre_procedimiento);
				//$("#div-error").append("<div id='flash_error'>Combinacion de email/password es invalido!!</div>");
				
			});
			$( "#close-div-error" ).click(function() {	
			   //$("#div-error").css("display", "none");
			   $("#div-error").remove();
			   alert("Hola clic al cerrar");
			});

			$( "#close-adv-error" ).click(function() {	
			   alert("Hola clic al cerrar");
			});



			$( "#quitar" ).click(function() {	
				if($("#drop option:selected").value=== "undefined"){
					alert("Debes seleccionar");
				}else{
					//alert($("#drop option:selected").value);
					$("#drop option:selected").remove();	
				}
				
			});

			$('#txt_procesos').change(function () { 
					 var nombre = document.getElementById("txt_procesos").value
   					 id_procesos = Buscar_procedimientos_procesos(nombre);
			});

			function load(){
				 	//$("#spinner").show();
				 	//$("#principal").hide();
					load_paquetes();
					load_procesos();
					//load_procedimientos();
			}

			function load_paquetes(){
		 		
			   $.ajax({
	                data:  { 
     			   		 'foo': 'bar', 
        		  		 'foot': 'bares' 
    				},
	                url:   '/api/getpaquetes', //archivo que recibe la peticion
	                type:  'get', //método de envio
	                dataType: "json",
	                beforeSend: function () {
	                        //alert('cargando informacion');
	                },
	                success:  function (response) { //una vez que el archivo recibe el request lo procesa y lo devuelve
	                        for(i=0;i<response.back_end.length;i++){
	                        		var Items = response.back_end[i]['nombre'];
	                        		//alert(Items);
	                        		$("#lista_paquetes").append(" <option>"+Items+" </option>");
							}
	                },
	                error:  function (data) { //una vez que el archivo recibe el request lo procesa y lo devuelve
	                        alert("Error"+data);
	                }
	        	});
			}


			function load_procesos(){
			   $.ajax({
	                data:  { 
     			   		 'foo': 'bar', 
        		  		 'foot': 'bares' 
    				},
	                url:   '/api/getproceso', //archivo que recibe la peticion
	                type:  'get', //método de envio
	                dataType: "json",
	                beforeSend: function () {
	                        //alert('cargando informacion');
	                },
	                success:  function (response) { //una vez que el archivo recibe el request lo procesa y lo devuelve
	                        for(i=0;i<response.back_end.length;i++){
	                        		var Items = response.back_end[i]['nombre'];
	                        		//alert(Items);
	                        		$("#lista_procesos").append(" <option>"+Items+" </option>");
							}
							$("#spinner").hide();
							$("#principal").show();
	                },
	                error:  function (data) { //una vez que el archivo recibe el request lo procesa y lo devuelve
	                        alert("Error"+data);
	                }
	        	});
			}

			function load_procedimientos(id_proceso){
			   $.ajax({
	                data:  { 
     			   		 'idprocesos': id_proceso
    				},
	                url:   '/api/getprocedimientos', //archivo que recibe la peticion
	                type:  'get', //método de envio
	                dataType: "json",
	                beforeSend: function () {
	                       $("#lista_procedimientos2").hide();
	                       $("#lista_procedimientos option").remove();
	                },
	                success:  function (response) { //una vez que el archivo recibe el request lo procesa y lo devuelve

	                        for(i=0;i<response.back_end.length;i++){
	                        		var Items = response.back_end[i]['nombre'];
	                        		$("#lista_procedimientos").append(" <option>"+Items+" </option>");
							}
							$("#lista_procedimientos2").show();
							
							

	                },
	                error:  function (data) { //una vez que el archivo recibe el request lo procesa y lo devuelve
	                        alert("Error"+data);
	                }
	        	});
			}

		    function Buscar_procedimientos_procesos(name){
			   $.ajax({
	                data:  { 
     			   		 'nombre': name, 
    				},
	                url:   '/api/getprocedimientos_x_proceso/', //archivo que recibe la peticion
	                type:  'get', //método de envio
	                dataType: "json",
	                beforeSend: function () {
	                        //alert('cargando informacion');
	                       //$("#spinner").show();
	                },
	                success:  function (response) { //una vez que el archivo recibe el request lo procesa y lo devuelve
	                        var Items;
	                        for(i=0;i<response.back_end.length;i++){
	                        		Items = response.back_end[i]['id'];
	                        		//alert(Items);
	                        		//alert(Items);
							}
							$("#spinner").hide();
							load_procedimientos(Items);
							
	                },
	                error:  function (data) { //una vez que el archivo recibe el request lo procesa y lo devuelve
	                        alert("Error"+data);
	                }
	        	});
			}

			function  crear_paquete_to_procedimiento(paquete, proceso, procedimiento){
				var Items="0", Items_nombre;
				$.ajax({
	                data:  { 
     			   		 'nombre_paquete': paquete, 
     			   		 'nombre_proceso': proceso, 
     			   		 'procedimiento': procedimiento, 
    				},
	                url:   '/api/setpaquetes_x_procedimiento/', //archivo que recibe la peticion
	                type:  'get', //método de envio
	                dataType: "json",
	                beforeSend: function () {
	                        //alert('cargando informacion');
	                       //$("#spinner").show();
	                },
	                success:  function (response) { //una vez que el archivo recibe el request lo procesa y lo devuelve
	                        
	                        for(i=0;i<response.back_end.length;i++){
	                        		Items = response.back_end[i]['id'];
	                        		Items_nombre = response.back_end[i]['nombre'];
	                        		//alert(Items);
	                        		//alert(Items);
							}
							$("#spinner").hide();
							//load_procedimientos(Items);
							if(parseInt(Items)!=-909){
								$("#drop").append(" <option>"+Items_nombre+" </option>");
								$("#div-mensajes").append("	<div id='div-alerta' name='div-alerta' class='alert alert-success' role='alert' style='margin-left: 15%; width: 50%;'>"+
								"<button id='close-adv-error' name='close-adv-error' type='button' class='close' data-dismiss='alert' aria-hidden='true' onclick='close_div_alerta()'>×</button>"+
	  							"<strong>Se asocio correctamente !</strong> El paquete con el procedimiento. "+ Items_nombre+"</div>");
							}else{
								$("#div-error").css("display", "block");
								$("#div-mensajes").append("	    <div id='div-error'  class='alert alert-danger' style='margin-left: 15%; width: 50%; '> "+
	          					"<button id='close-div-error' name='close-div-error' type='button' class='close' data-dismiss='alert' aria-hidden='true' onclick='close_div()'>×</button>"+
	          					"<strong>Error  al asociar!</strong> <option>"+Items_nombre+" </option></div>");
							}
							
							
	                },
	                error:  function (data) { //una vez que el archivo recibe el request lo procesa y lo devuelve
	                        alert("Error"+data);
	                }
	        	});
			}

	});

	function close_div(){
		$("#div-error").remove();
	}
	function close_div_alerta(){
		$("#div-alerta").remove();
	}
</script>		
<body>
  <div id="spinner">
  		<img src="../assets/cargar2.gif" alt="Loading" />
  </div>

  <div id="principal" style="display: none;">
  	<h1> Asignar Recursos a los paquetes </h1>
	<br></br>
	<label style="margin-left: 15%;"  >Paquetes</label>
	<input list="lista_paquetes" id="txt_paquetes" name="txt_paquetes" style="margin-left: 15%; width: 30%;">
	<datalist id="lista_paquetes">
		<option></option>
	</datalist>

	<label style="margin-left: 15%;" >Procesos</label>
	<input  id="txt_procesos" name="lista_procesos" list="lista_procesos" style="margin-left: 15%; width: 30%;" />
	<datalist id="lista_procesos">
		<option></option>
	</datalist>



	<label style="margin-left: 15%;" >Procedimientos</label>
	<input  id="txt_procedimientos" name="lista_procedimientos2" list="lista_procedimientos" style="margin-left: 15%; width: 30%;" />
	<datalist id="lista_procedimientos">
		<option></option>
	</datalist>
	<br></br>

	<div id="div-mensajes">

	</div>
	<input type="button" id="agregar" name="" value="Agregar>>" style="width: 10%; margin-left: 60%;">
	<br></br>
        <select name="drop" id="drop" size="6" style="margin-left: 15%;">
        </select>

	<br></br>
	<input type="button" id="quitar" name="quitar" value="quitar" style="width: 10%; margin-left: 60%;">
	<br></br>
	<input type="button" id="guardar" name="" value="Guardar" style="width: 10%; margin-left: 5%;">
 </div>


</body>
</html>
