<h1>Editing Paquete Plan To Procedimiento</h1>

<%= render 'form', paquete_plan_to_procedimiento: @paquete_plan_to_procedimiento %>

<%= link_to 'Show', @paquete_plan_to_procedimiento %> |
<%= link_to 'Back', paquete_plan_to_procedimientos_path %>
